a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.mainColor {
    color: #2BA0D5;
}

.mainColorDark1 {
    color: #217AA3;
}

.mainColorDark2 {
    color: #114157;
}

.mainColorGrey {
    color: #2B4957;
}

.mainColorLight {
    color: #6FBADD;
}

.menu-item {
    margin: 0px 12px;
    font-weight: bold;
    font-family: 'Grandview', sans-serif;

}

.no-border {
    border-color: transparent;
}

.grandview-font {
    font-family: 'Grandview', sans-serif;
}

.dark-card {
    background-color: #2B495720;
}

.text-paragraph {
    font-family: 'Grandview', sans-serif;
}

.btn-standard {
    background-color: #2BA0D5;
    color: white;
    font-family: 'Grandview', sans-serif;
    border-radius: 2px;
}

.btn-standard:hover {
    background-color: #2B4957;
    color: white;
}
.heading {
    font-family: 'Grandview', sans-serif;
    color: #114157;
    font-weight: bold;
}

.card-heading {
    font-weight: bolder;
    font-family: 'Grandview', sans-serif;
    color: #114157;
}

.nav-link {
    font-weight: bold;
    font-family: 'Grandview', sans-serif;
    color: #114157;
}

.navbar-expand-lg .nav-item .nav-link.active,
.navbar-expand-lg .nav-item .nav-link:active,
.navbar-expand-lg .nav-item .nav-link:focus,
.navbar-expand-lg .nav-item:hover .nav-link {
    color: #217AA3;
    font-weight: bolder;
}